<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>flexbanner</name>
	<displayName><![CDATA[Ovic - Flexible Banner Module]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[Banner manager]]></description>
	<author><![CDATA[OVIC-SOFT]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>