.header_user_info {
  float: right;
  border-left: 1px solid #515151;
  border-right: 1px solid #515151; }
  .header_user_info a {
    color: white;
    font-weight: bold;
    display: block;
    padding: 8px 9px 11px 8px;
    cursor: pointer;
    line-height: 18px; }
    @media (max-width: 479px) {
      .header_user_info a {
        font-size: 11px; } }
    .header_user_info a:hover, .header_user_info a.active {
      background: #2b2b2b; }

.header_user_info{
    position: relative;
}
.header_user_info .header-toggle {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #eee;
    border-width: 0 1px 1px;
    min-width: 150px;
    padding: 10px 15px;
}
@media (max-width: 480px) {
    .header_user_info .header-toggle {
        right: 0;
    }    
}
header .nav .header_user_info .header-toggle a{
    display: block;
    border-left: none!important;
    line-height: 24px;
    padding: 0;
}
header .nav .header_user_info .header-toggle a:after{
    display: none;
}