/* Module: blocklayered */
/*
#enabled_filters {
    margin: 0;
    background: #FFF;
    padding: 0;
}
#enabled_filters .layered_subtitle {
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: #666;
}
#enabled_filters ul li {
  padding: 2px 0;}
#enabled_filters li a {
  float: right;
  cursor: pointer; }
#layered_block_left {
    border-color: #ccc;}
@media (min-width: 1200px) {
    #layered_block_left .block_content {
        padding: 20px;}     
}

#layered_block_left .block_content {
    padding:10px 20px;}
#layered_block_left .title_block {
    display: none;    }
#layered_block_left .layered_close {
  float: right;
  padding-right: 5px; }
#layered_block_left span.layered_close a,
#layered_block_left span.layered_close a {
    display: block;
    height: 13px;
    width: 13px;
    text-decoration: none;
    text-indent: -5000px;
    background: url(img/icon/less.gif) no-repeat 2px 2px; }
#layered_block_left span.closed a {
  background: url(img/icon/more.gif) no-repeat 2px 2px; }
#layered_block_left .layered_subtitle {
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: #666;}
#layered_block_left ul {
  clear: both;
  padding: 3px 0; }
#layered_block_left ul li {
  padding: 0; }
#layered_block_left ul li label {
    cursor: pointer; }
#layered_block_left ul li label.layered_color {
    display: none;}
#layered_block_left ul {
  padding-left: 0; }
#layered_block_left ul li {
    list-style-type: none;
    width: 100%;}
#layered_block_left .color_class ul li {
    width: auto;
    float: left;
    margin: 0;}
#layered_block_left div > form > div > div {
    margin-top: 16px;}
.layered_subtitle_heading {
    margin-bottom: 20px;}
#layered_block_left #enabled_filters {
    border-top: none!important;
    padding-top: 16px;}
#layered_block_left #enabled_filters, #layered_url_filter_block {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0px;
    border-bottom: 1px solid #ccc;}
#layered_block_left #enabled_filters ul li {
  margin-left: 0;
  padding-left: 0;
}
#layered_form div.checker,
.layered_filter div.checker span {
    display: none!important;
}
/* Style moved form the template to the css  */
/*
#layered_block_left #enabled_filters ul li:hover {
  background: inherit;
  color: inherit; }

#layered_block_left ul li input.checkbox {
  vertical-align: middle;
  margin-left: 2px; }

#layered_block_left ul li .disabled {
  color: #666; }

#layered_block_left .color-option {
  border: 1px solid #666666;
  height: 16px;
  margin-left: 0;
  padding: 0;
  width: 16px; }

#layered_block_left .color-option.disable {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5; }

#layered_block_left .nomargin a {
    position: relative;
    display: inline-block;
    color: #666;
    padding-left: 22px;}
#layered_block_left .nomargin a:hover, #layered_block_left .nomargin .checker a {
    color: #00a7cd;
}
#layered_block_left .nomargin a:before {
    position: absolute;
    left: 0;
    top: 3px;
    display: inline-block;
    font-family: FontAwesome;
    content: "";
    width: 12px;
    height: 12px;
    background: url(../../../img/ovic/select-filter-bg.png) 0 center no-repeat transparent;}
#layered_block_left .nomargin a:hover:before, #layered_block_left .nomargin .checker a:before  {
    background: url(../../../img/ovic/select-filter-hover-bg.png) 0 center no-repeat #00a7cd;}
#layered_block_left .nomargin a span {
    color: #999999;
}
#layered_form .select {
  width: 165px; }

#layered_form .color-option {
    margin-left: 0;
    width: 22px;
    height: 22px;
    padding: 0;
    border: 1px solid #ccc;
    margin-right: 9px;
    margin-bottom: 9px;
    font-size: 0;
}

#layered_form .color-option.on {
  border: 1px solid red;
}

#layered_form input[type=radio] {
  margin-left: 2px;
  vertical-align: middle; }

.layered_price_range {
  margin-left: 7px; }

.layered_price_range_unit {
  margin-right: 7px; }

.layered_slider_container {
  margin: 6px 0;
  width: 95%;
}
@media (min-width: 1200px) {
    .layered_slider_container {
        width: 210px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .layered_slider_container {
        width: 170px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .layered_slider_container {
        width: 115px;
    }
}
.layered_slider {
  margin-top: 5px; }

.layered_input_range_min {
    width: 30px;
}
.layered_input_range_max {
    width: 40px;
}

.layered_list_selected {
  font-weight: bold; }

.layered_list {
  display: block;
  cursor: pointer; }

.layered_list:hover {
  font-weight: bold; }

.layered_ajax_loader p {
  margin: 20px 0;
  text-align: center; }

.hide-action {
  text-align: center;
  text-align: right;
  display: block;
  cursor: pointer; }

.hide-action:hover {
  font-weight: bold; }

#layered_form div div ul {
  overflow-x: auto; }
#layered_form div div.layered_price ul {
    padding-top: 2px;
    padding-bottom: 8px;
}
.layered_filter {
    border-bottom: 1px solid #ccc;
}
.layered_filter:last-child {
    border-bottom: none;
}
.layered_filter label {
    font-weight: normal;
    margin-bottom: 12px;
}
.layered_filter .layered_subtitle {}



 /*** Price filter ***/
/*
.layered_price .ui-slider-horizontal .ui-slider-range {
    height: 7px;
    background: #666;
    border-radius: 0;
}
.layered_price .layered_slider {
    height: 7px;
    border: none;
    background: #00a7cd;
    border-radius: 0;
}
.layered_price .ui-state-default,
.layered_price .ui-widget-content .ui-state-default,
.layered_price .ui-widget-header .ui-state-default {
    width: 18px;
    height: 18px;
    background: url(../../../img/ovic/filter-price-bg.png) no-repeat center center #FFF;
    border: 1px solid #ccc;
    border-radius: 0;
}
.layered_price .ui-state-default:hover,
.layered_price .ui-widget-content .ui-state-default:hover,
.layered_price .ui-widget-header .ui-state-default:hover {
    border-color: #00a7cd;}

.layered_price .ui-widget-header .ui-state-default.ui-state-hover{
    background: #fff !important;
    border: 1px solid #00a7cd !important;
}
.layered_price label {
    color: #666;
    font-weight: normal;
}
.size_class {

}
.color_class {}

#layered_block_left .manufacturer_class ul {
    overflow-x: hidden;
    padding-top: 2px;
}
#layered_block_left .manufacturer_class ul li {
    list-style: disc;
    color: #ccc;
    font-size: 16px;
    margin-left: 17px;
}
#layered_block_left .manufacturer_class ul li a {
    font-size: 14px;
}
span.size_span {}
#layered_block_left .size_class ul li label {}
.layered_price {
    border-bottom: 1px solid #ccc;}
.ui-slider-horizontal .ui-slider-handle {
    top: -6px;
    margin-left: 0;
}
#layered_block_left ul.layered_filter_ul.color-group {
    padding-top: 2px;}
*/